body{
    background-color: #000000;
    font-family: arial;
}
#banner{
    cursor: pointer;
}
#texto{
    float: left; 
    margin: 30px;
    margin-left: 400px;
    padding: 15px; 
    border: none; 
    border-radius: 4px; 
    font-family: arial; 
    background-color: #dbd6d6; 
    color: #282525; 
    width: 35%;
}
#botao {
    float: right;
    margin: 30px;
    margin-right: 330px;
    background-color: #ff0000; 
    padding: 15px; 
    border: none; 
    border-radius: 4px; 
    width: 7%; 
    color: white; 
    font-family: arial; 
    cursor: pointer;
}
.barra {
    background-color: #232323; 
    margin: 20px;
    padding: 13px; 
    border: none; 
    border-radius: 4px; 
    width: 35%; 
    color: #dbd6d6; 
    font-family: arial; 
    cursor: pointer; 
    font-size: 17px;
    margin-left: 400px;
}
.editar {
    float: right;
    margin: 25px;
    margin-left: 55px;
    cursor: pointer;
}
.excluir {
    float: right;
    margin: 25px;
    margin-left: 0px;
    cursor: pointer;
}

.botoes-inicio {
    text-decoration: none;
    background-color: #ff0000; 
    padding: 15px; 
    border: none; 
    border-radius: 4px; 
    width: 8.8%; 
    color: white; 
    font-family: arial; 
    cursor: pointer;
    size: 14px;
}

.cadastrofilme-pag, .cadastroUser {
    color: #dbd6d6;
    line-height: 30px;
}
#buscar-titulo, .adicionar, #ano1, #ano2 {
    text-align: left;
    padding: 15px;
    border: none; border-radius: 4px; font-family: arial;
    background-color: #232323;  
    color: white
}
#generos, #generosx {
    background-color: #232323; 
    text-align: left;
    padding: 15px;
    width: 325.5px;
    border: none; border-radius: 4px; font-family: arial;
    background-color: #232323;  
    color: white
}
.botao-buscar, .botao-cadastrar {
    background-color: #ff0000; 
    padding: 15px; 
    border: none; 
    border-radius: 4px; 
    width: 8.8%; 
    color: white; 
    font-family: arial; 
    cursor: pointer
}
.botao-editar {
    background-color: #1ba14e; 
    padding: 15px; 
    border: none; 
    border-radius: 4px; 
    width: 8.8%; 
    color: white; 
    font-family: arial; 
    cursor: pointer;
    float: right;
    margin: 0px;
    margin-left: 600px;
    cursor: pointer
}
.botao-excluir {
    background-color: #ff0000; 
    padding: 15px; 
    border: none; 
    border-radius: 4px; 
    width: 8.8%; 
    color: white; 
    font-family: arial; 
    cursor: pointer;
    float: right;
    margin: 0px;
    margin-right: 600px;
    cursor: pointer
}

.barra2 {
    background-color: #232323; 
    margin: 20px;
    padding: 13px; 
    border: none; 
    border-radius: 4px; 
    width: 43%; 
    color: #dbd6d6; 
    font-family: arial; 
    cursor: pointer; 
    font-size: 17px;
    margin-left: 500px;
}
#resenhas {
    color: #dbd6d6;
    text-align: left;
    padding: 15px;
    border: none; border-radius: 4px; font-family: arial;
    background-color: #232323;  
    color: white;
    resize: none
}
.sair {
    background: #f1f1f1;
    cursor: pointer;
    color: black
}
#divResultado{
    text-align: center;
    font-weight: bold;
}
#titulo-login{
    color:#dbd6d6; 
    font-family: arial;
}
#usuario{
    padding: 15px; 
    border: none; 
    border-radius: 4px; 
    font-family: arial; 
    background-color: #232323; 
    color: white
}
#senha{
    padding: 15px; 
    border: none; 
    border-radius: 4px; 
    font-family: arial; 
    background-color: #232323; 
    color: white
}
#entrar{
    background-color: #ff0000; 
    padding: 15px; 
    border: none; 
    border-radius: 4px; 
    width: 23%; 
    color: white; 
    font-family: arial; 
    cursor: pointer
}
#esqueceu{
    text-align:center; 
    font-size: 13px; 
    width: 1240px; 
    color: white; 
    font-family: arial;
    color: grey; 
    text-decoration: none;
    cursor: pointer
}
#cadastro2{
    text-align: center; 
    font-size: 14px; 
    width: 1450px; 
    color: grey; 
    font-family: arial
}
#cadastro3{
    font-size: 14px;
    color: red; 
    text-decoration: none
}
.avatar {
    width:180px;
    border-radius: 10%;
}